[submodule "thirdparty/CRoaringUnityBuild"]
	path = thirdparty/CRoaringUnityBuild
	url = https://github.com/lemire/CRoaringUnityBuild
[submodule "tools"]
	path = tools
	url = https://gitlab.peulen.xyz/build/tools
