build/
bld-dir/
dist/
doc/examples
tmp/
.vscode
.ipynb_checkpoints
cmake-build-*/
temp/
*.egg-info/
__pycache__
.vscode/
tttr-data
.idea/
tools/
leftovers/

# Documentation and tools
doc/_*
doc/_build/
doc/paper*
/doc/examples/
